<!DOCTYPE html>
<html>
<head>
	<title>Amadon</title>
	{% load static %}
	 <link rel="stylesheet" href="{% static 'session_words/css/amadon.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
<h1> Amadon Store!</h1>
<table>
	<tr>
		<th> Item</th>
		<th> Price</th>
		<th> Actions</th>
	</tr>
	<tr> 
		<td>Dojo T Shirt</td>
		<td>$19.99</td>
		<td> <form action='/amadon/buy' method='post'>
  {% csrf_token %}
  <select name='quantity'>
     <option>1</option>
     <option>2</option>
     <option>3</option>
  </select>
  <input type='hidden' name='product_id' value='1001' />
  <input type='submit' value='Buy!' id ='shirt' name = 'shirt' />
 </td>
</form>
		
	</tr>
	<tr> 
		<td>Dojo Sweater</td>
		<td>$29.99</td>
		<td> <form action='/amadon/buy' method='post'>
  {% csrf_token %}
  <select name='quantity'>
     <option>1</option>
     <option>2</option>
     <option>3</option>
  </select>
  <input type='hidden' name='product_id' value='1002' />
  <input type='submit' value='Buy!' id ='sweater' name = 'sweater' />
</td>
</form>
	</tr>
	<tr>
		<td>Dojo Cup</td>
		<td>$4.99</td>
		<td> <form action='/amadon/buy' method='post'>
  {% csrf_token %}
  <select name='quantity'>
     <option>1</option>
     <option>2</option>
     <option>3</option>
  </select>
  <input type='hidden' name='product_id' value='1003' />
  <input type='submit' value='Buy!' id ='cup' name = 'cup' />
</td>
</form>
	</tr>
	<tr>
	<td>Algoritm Book</td>
	<td>$49.99</td>
	<td> <form action='/amadon/buy' method='post'>
  {% csrf_token %}
  <select name='quantity'>
     <option>1</option>
     <option>2</option>
     <option>3</option>
  </select>
  <input type='hidden' name='product_id' value='1004' />
  <input type='submit' value='Buy!' id ='book' name = 'book' />
</td>
</form>
	</tr>
</table>

</body>
</html>